.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}
#totalPrice
{
    text-align: center;
}

.cart-main{
    display:flex;

}
.cart-item
{
    padding: 20px;
    margin:25px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 2px 8px #4d4d4d;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}